body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 10px 25px;
    background-color: #a78b78;
    color: white;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.instructions-text {
    font-size: 1.5rem;
    margin-inline: 20px;
}

.flashcard-image {
    width: auto;
    height: 50vh;

}

.switch-button {
    background: #a78b78;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 2rem;
    padding: 15px 40px 14px 40px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.switch-button:hover {
    background: #716156;
    text-decoration: none;
}

.num-counter {
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}

footer {
    background-color: #f1edea;
    padding: 15px 30px;
    border-top: 1px solid #a78b78;
}

.my-2 {
    margin: 1rem 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}